<body>
    <div class="banner">
      <img class="results" src="img/google.png" alt="Google Photos" />
      <form class="" action="index.html" method="post">
        <input class="inputresults" type="text" />
        <button class="rbutton">Search</button>
      </form>
    </div>
    <div class="results">
      <span class="resultsnumber">{{results.length}}</span>
      <div class="result">
	{{#each results as |result|}}
	<div class="result">
		<span>{{result.url}}</span>

		<h2>
			<a href="{{result.url}}">
				{{result.title}}
			</a>
		</h2>
		<p>
			{{result.description}}
		</p>
		<ul>
			{{#each links as |link|}}
			<li>
				<a href="{{link.url}}">{{link.title}} </a>
			</li>
			{{/each}}
		</ul>
	</div>
	{{/each}}
</div>
  </body>
